includes:
    - vendor/larastan/larastan/extension.neon
    - packages/reactive/phpstan-rules.neon

parameters:
    level: 6
    paths:
        - app
        - config
        - database
        - packages/reactive/src
        - routes
        - tests
    tmpDir: storage/framework/cache/phpstan
    reportUnmatchedIgnoredErrors: false
